[TELEGRAM]
BOT_TOKEN = 
AUTO_ADMINS = 
AUTO_APPROVE = 

[SONARR]
ENABLED = 
HOST = 
API = 
UPDATE_FREQ = 

[RADARR]
ENABLED = 
HOST = 
API = 
UPDATE_FREQ = 

[OMBI]
ENABLED = 
HOST = 
API = 
UPDATE_FREQ = 
