[GENERAL]
NAME = Plex Assistant

[NOTIFICATIONS]
TIME = 18:00
DAY = Friday

[TELEGRAM]
BOT_TOKEN = 
AUTO_ADMINS = 
AUTO_APPROVE = no

[SONARR]
ENABLED = no
HOST = http://localhost:8989
API = 
UPDATE_FREQ = 15

[RADARR]
ENABLED = no
HOST = http://localhost:7878
API = 
UPDATE_FREQ = 15

[OMBI]
ENABLED = no
HOST = http://localhost:5000
API = 
