[GENERAL]
NAME = Plex Assistant

[NOTIFICATIONS]
TIME = 18:00
DAY = Friday

[TELEGRAM]
BOT_TOKEN = 
AUTO_ADMINS = 
AUTO_APPROVE = no

[SONARR]
ENABLED = no
HOST = 
API = 
UPDATE_FREQ = 

[RADARR]
ENABLED = no
HOST = 
API = 
UPDATE_FREQ = 

[OMBI]
ENABLED = no
HOST = 
API = 
UPDATE_FREQ = 
